* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.tarih{
    display: flex; 
    margin: 10px 0px; 
}
.tarih select{
    padding: 5px;
    margin-left: 20px;
}


form input{
    margin: 10px 0;
    padding: 10px;
}

.red-border{
    border: 5px solid red;
}
.text-danger{
    color: red;
}